{% block html_head_container %}
	{% include 'components/html-header.twig' %}
	{% block head %}
		<!-- empty your head -->
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} grid">

		<header class="grid__column">
			{% block header %}
				{% include 'components/header.twig' %}
			{% endblock %}
		</header>

		<div class='grid__column grid__column--span-4'>

			<div class='grid'>
				<div class='hero {{ is_home ? "hero--prominent" : "" }} layout__item layout__item--grow grid__column grid__column--span-3'>
					<h1 class='hero__title'>
						<a href='{{site.link}}'>
							<span class='hero__title-item hero__title-item--primary'>Geta Brătescu</span> 
							<span class='hero__title-item hero__title-item--secondary'>
								{{__("Apariții", 'apparitions')}}
							</span>
						</a>
					</h1>
					<p class='hero__desc'>
						{{__('Participarea României la cea de-a 57-a ediție', 'apparitions')}}<br/>
						{{__('a Expoziției Internaționale de Artă — La Biennale di Venezia', 'apparitions')}}
					</p>
				</div>
				<div class='grid__column'>
					<img class='biennale-logo' src='{{site.theme.link}}/static/svg/logos/biennale.svg'/>
				</div>
			</div>

			<section role="main">
				{% block title %}
					{% if title %}
						<h1>{{title}}</h1>
					{% endif %}
				{% endblock title %}
				<div class="main-content">
					{% block content %}
						<!-- Content goes here -->
					{% endblock %}
				</div>
			</section>

			<div>
				{% block footer %}
					{% include 'components/footer.twig' %}
				{% endblock %}
			</div>

		</div>
	</body>
</html>
