<div class='hero {{ is_home ? "hero--prominent" : "" }}'>
	<h1 class='hero__title'>
		<a href='{{site.link}}'>
			<span class='hero__title-item hero__title-item--primary'>Geta Brătescu</span> 
			<span class='hero__title-item hero__title-item--secondary'>
				{{__("Apariții", 'apparitions')}}
			</span>
		</a>
	</h1>
	<p class='hero__desc'>
		{{__('Participarea României la cea de-a 57-a ediție', 'apparitions')}}<br/>
		{{__('a Expoziției Internaționale de Artă — La Biennale di Venezia', 'apparitions')}}
	</p>
</div>