<!-- Begin MailChimp Signup Form -->
<form 
	action="//apparitions.us15.list-manage.com/subscribe/post?u=b3516c0b9f623026af467c82a&amp;id={{post.get_field('list_id')}}" method="post" 
	name="mc-embedded-subscribe-form" 
	class="newsletter form" 
	target="_blank"
>
	<h2 class='newsletter__title'>{{__("Abonează-te la newsletter-ul nostru", "apparitions")}}</h2>

	<div class="newsletter__fieldgroup">
		<label for="mce-EMAIL">{{__("Adresa de e-mail", "apparitions")}}</label>
		<input type="email" value="" name="EMAIL" required id="mce-EMAIL">
	</div>
	<div class="newsletter__fieldgroup">
		<label for="mce-FNAME">{{__("Prenume", "apparitions")}}</label>
		<input type="text" value="" name="FNAME" id="mce-FNAME">
	</div>
	<div class="newsletter__fieldgroup">
		<label for="mce-LNAME">{{__("Nume", "apparitions")}}</label>
		<input type="text" value="" name="LNAME" id="mce-LNAME">
	</div>
	<!-- 
		real people should not fill this in and expect good things - 
		do not remove this or risk form bot signups
	-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
    	<input type="text" name="{{post.get_field('hidden_field_id')}}" tabindex="-1" value="">
    </div>
    
    <div class="clear">
    	<input type="submit" value='{{__("Abonează-te", "apparitions")}}' name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
</form>
<!--End mc_embed_signup-->