{% set logo = TimberImage(partner.logo) %}

<div class='partner'>
	{% if partner.link %}
	<a href='{{partner.link}}' target="_blank" class='partner__link'>
	{% endif %}
		{% if logo %}
			{% if logo.src ends with '.svg' %}
				<img class='partner__image partner__image--{{ partner.aspect }}' src='{{logo.src}}'/>
			{% else %}
				<img class='
					partner__image 
					{% if partner.aspect == 'portrait' %} 
						partner__image--portrait
					{% elseif partner.aspect == 'landscape' %} 
						partner__image--landscape
					{% elseif logo.aspect < 1 %}
						partner__image--portrait
					{% else %}
						partner__image--landscape
					{% endif %}
			' src="{{ logo.src }}"/>
			{% endif %}
		{% else %}
			<span class='partner__text'>{{ partner.name }}</span>
		{% endif %}
	{% if partner.link %}
	</a>
	{% endif %}
</div>